home-assistant/config/.storage/assist_pipeline.pipelines
home-assistant/config/.storage/auth
home-assistant/config/.storage/bluetooth.passive_update_processor
home-assistant/config/.storage/core.config_entries
home-assistant/config/.storage/core.device_registry
home-assistant/config/.storage/core.entity_registry
home-assistant/config/.storage/core.restore_state
home-assistant/config/.storage/core.uuid
home-assistant/config/.storage/homeassistant.exposed_entities
home-assistant/config/.storage/http
home-assistant/config/.storage/http.auth
home-assistant/config/.storage/repairs.issue_registry
home-assistant/config/.storage/trace.saved_traces
