
certbot/conf/renewal/rhombus-hass.duckdns.org.conf
home-assistant/config/.HA_VERSION

home-assistant/config/*.log
home-assistant/config/*.log.*
home-assistant/config/home-assistant_v2.db
home-assistant/config/.storage
home-assistant/config/blueprints


home-assistant/config/automations.yaml
home-assistant/config/configuration.yaml
home-assistant/config/scenes.yaml
home-assistant/config/scripts.yaml
home-assistant/config/secrets.yaml
